.left-menu {
    -fx-background-color: #484848;
}

.button:hover {
    -fx-background-color: #595959;
}

.button:pressed {
    -fx-background-color: #515151;
}

/*.button:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}*/

.buttonBold {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.buttonBlack {
    -fx-text-fill: black;
}



/* Tree View */
.tree-view {
    -fx-font-size: 13px;
}

.tree-cell: empty {
    -fx-background-color: transparent;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-background-color: gray;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

.tree-view, .tree-cell, .button {
    -fx-background-color: #484848;
    -fx-text-fill: #ffffff;
}



/* Scroll Pane */
.scroll-pane {
    -fx-background-color: #dadada;  /* Enélkül border féle maradna a scrollpane körül */
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: yellow;
}



/* Split Pane */
.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #000000;
    -fx-padding: 1;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #000000;
}



/* Scroll Bar */
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;  /* A scroll bar háttere */
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #ff6f00;
    -fx-background-radius: 5em;
}
