.hbox {
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1 0;
}

.hboxLightRead {
    -fx-background-color: #c2c2c2;
}

.hboxLightRead .label {
    -fx-text-fill: #767676;
}

.hboxDark {
    -fx-background-color: #121212;
    -fx-text-fill: #DADADA;
}

.hboxDark .rssTitle{
    -fx-text-fill: #DADADA;
}



